extends layout

block content
  p #{title}
  div(class="row")
    div(class="panel panel-default col", style="width: 250px")
      div(class="panel-heading")
        h4 Earnings
      div(class="panel-body")
        h5 #{salary}
    div(class="panel panel-default col", style="width: 250px")
      div(class="panel-heading")
        h4 Expenditure
      div(class="panel-body")
        h5 #{expense}
    div(class="panel panel-default col", style="width: 250px")
      div(class="panel-heading")
        h4 Savings
      div(class="panel-body")
        h5 #{savings}
