doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

  body
    div(id="background")
      div(id="page")
        div(class="header")
          div(class="footer")
            div(class="body")
              div(id="sidebar")
                a
                  img.logo#logo(src="images/Budget.png" width="175" height="74" alt="" title="")
                ul(class="navigation")
                  li 
                    a(href="/") Home
                  li
                    #[a(href='/Salary') Salary]
                  li
                    #[a(href='/Expense') Expense]
              div(id="content")
                div(class="content")
                  ul
                    li
                      block content
